{% extends 'base2.html'%} {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <form action={% url 'crear_tarea' %} method="POST">
                            {% csrf_token %}
                            <h3 class="tile-title">Formulario</h3>
                            <div class="form-group">
                                <label for="titulo">Titulo</label>
                                <input class="form-control" name="titulo_tarea" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" required>
                                <!-- <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripcion</label>
                                <textarea class="form-control" name="descripcion_tarea" id="exampleTextarea" rows="3" required></textarea>
                            </div>
                            <div>
                                <select class="form-control" name='estadoT' id="exampleSelect1" required>
                                    <option value="" selected disabled hidden>Seleccione un opcion</option>
                                    {% for e in estadoTarea %}
                                    <option value={{e.pk}}>{{e.estado}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="tile-footer">
                                <button class="btn btn-primary" type="submit">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <h3 class="tile-title">Listado de Tareas</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <center>Titulo</center>
                                        </th>
                                        <th>
                                            <center>Descripcion</center>
                                        </th>
                                        <th>
                                            <center>Estado</center>
                                        </th>
                                        <th>
                                            <center>Fecha de inicio</center>
                                        </th>
                                        <th>
                                            <center>Fecha de termino</center>
                                        </th>
                                        <th>
                                            <center>Acciones </center>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in tareas %}
                                    <tr>
                                        <td>
                                            <center>{{ t.titulo }}</center>
                                        </td>
                                        <td>
                                            <center>{{ t.descripcion }}</center>
                                        </td>
                                        <td>
                                            <center>{{ t.estadoTarea }}</center>
                                        </td>
                                        <td>
                                            <center>{{ t.fechaInicio }}</center>
                                        </td>
                                        <td>
                                            <center>{{ t.fechaTermino }}</center>
                                        </td>
                                        <td>
                                            <center>
                                                <a href="{% url 'editar_tarea' t.pk %}">
                                                    <button class="btn btn-primary" type="button">Editar</button>
                                                </a> /
                                                <a href="{% url 'eliminar_tarea' t.pk %}">
                                                    <button class="btn btn-danger" type="button">Eliminar</button>
                                                </a>
                                            </center>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}